body .main-header {
  @media(max-width:1024px){
    padding-top: 400px;
    margin-left: 0;
  }
}

.prof-pic {
  height: 400px;
  top: 15px;
  left: 15px;

  &:before {
    content: '';
    width: 200px;
    height: 200px;
    @apply bg-theme-blue;
    position: absolute;
    top: -15px;
    left: -15px;
  }

  &:after {
    content: '';
    width: 300px;
    height: 300px;
    @apply bg-theme-green;
    position: absolute;
    bottom: -15px;
    right: -15px;
    z-index: -1;
  }
}

.animation-container {
  padding-top: 96px;
  @media(min-width:1024px){ 
    padding-top: 0;
  }

  .animation-elements {
    width: 100%;

    @media(min-width:1024px){ 
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media(min-width:1024px){
    height: 400vh;
  }
}

.credentials {
  position: relative;
  opacity: 1;
  padding-left: 0px;
  width: 100%;
  font-size: 2rem;
  padding: 100px 0;

  @media(min-width:1024px){ 
    position: absolute;
    left: 42%;
    transform: translateX(-100px);
    font-size: 3rem;
    margin-top: 100px;
    line-height: 171px;
    padding: 0 0;

    > div {
      opacity: 0;
    }
 
    > div:nth-of-type(2) {
     margin-left: -20px;
    }
 
    > div:nth-of-type(3) {
     margin-left: -75px;
    }
  }
}

.learn-about {
  position: relative;
  opacity: 1;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 50px;

  @media(min-width:1024px){ 
    position: absolute;
    opacity: 0;
    top: 50%;
    right: 50px;
    font-size: 6rem;
    margin-top: -30px;
    transform: translateX(100px);
    margin-bottom: 0;
  }

}

.port-background  {
  z-index: -1;
  bottom: 0;
}

.clients h3 {
  @apply mb-4;
  @apply font-bold;
  @apply text-2xl;

  a {
    @apply hover:text-theme-red;
  }
}
