.blue {
  width: 150px;
  height: 150px;
  background-color: #00A7FA;
  position: absolute;
  top: calc(170px - 75px);
  left: 200px;

  @media(min-width:1024px){
    top: calc(50% - 75px);
  }
}

.red {
  width: 150px;
  height: 150px;
  background-color: #FF3B28;
  position: absolute;
  top: calc(170px);
  left: 100px;

  @media(min-width:1024px){
    top: calc(50%);
  }
}

.green {
  width: 150px;
  height: 150px;
  background-color: #48EB12;
  position: absolute;
  top: calc(170px - 25px);
  left: 150px;
  z-index: -1;

  @media(min-width:1024px){
    top: calc(50% - 25px);
  }
}

.three-squares {
  @media(min-width:1024px){
    margin-top: -40px;
  }
}