/* stylelint-disable */

@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Bold/CircularStd-Bold.woff2') format('woff2'),
        url('/fonts/CircularStd-Bold/CircularStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Book/CircularStd-Book.woff2') format('woff2'),
        url('/fonts/CircularStd-Book/CircularStd-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Micro';
    src: url('/fonts/HelveticaNowMicro/HelveticaNowMicro.woff2') format('woff2'),
        url('/fonts/HelveticaNowMicro/HelveticaNowMicro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* stylelint-enable */
